body {
  font-family: Helvetica;
}

#root {
  // height: 100vh;
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  height: 400px;
  width: 1000px;
  border: 2px solid red;
}

.body {
  height: 400px;
  width: 1000px;
  border: 2px solid red;
}

.photos {
  height: 250px;
  width: 1000px;
  border: 2px solid red;
}

.footer {
  height: 250px;
  width: 1000px;
  border: 2px solid red;
}
