body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Team-14-css styling starts here */

/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #303030;
}

/* Main page */
.main-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "top-section"
    "first-middle-section"
    "second-middle-section"
    "footer";
  height: 100vh;
}

.top-kalli {
  grid-area: top-section;
}

.first-middle-black {
  grid-area: first-middle-section;
}

.second-middle-style {
  grid-area: second-middle-section;
}

.last-foot {
  grid-area: footer;
}

.top-kalli,
.first-middle-black,
.second-middle-style {
  border: 2px solid blue;
}

/* Top */
.top-kalli {
  background: #f5f5f5;
  height: 550px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 300px repeat (2, 1fr);
  grid-template-areas:
    "lb cb rb"
    "lb cb rb"
    "lb cb rb"
    "fb fb fb";
}

/* left banner */
.left-banner {
  grid-area: lb;
  padding: 20px 0px 0px 10px;
}

.left-banner h4 {
  font-size: 10px;
  font-weight: 700;
  letter-spacing: -0.3px;
  text-transform: uppercase;
}

.left-banner p {
  color: #a0a0a0;
  padding-top: 5px;
}

.left-banner p:first-of-type {
  padding-top: 20px;
}

.small-images {
  padding-top: 20px;
}

.small-images img {
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 60px;
  margin: 2px;
  width: 60px;
}

.small-images img:hover {
  filter: brightness(0.87);
}

/* center banner */
.center-banner {
  grid-area: cb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-banner img {
  filter: brightness(0.97);
  height: 90%;
  padding: 10px 0px;
  width: 90%;
}

/* right banner */
.right-banner {
  grid-area: rb;
}

/* foot banner */
.foot-banner {
  grid-area: fb;
}

.foot-button {
  background: #f5f5f5;
  height: 100px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  filter: brightness(1.1);
  font-size: 10px;
  font-weight: 700;
  justify-content: space-around;
  margin: 0px 60px 0px 60px;
}

.play-button {
  background: #f5f5f5;
  border: none;
  font-weight: 700;
  text-transform: capitalize;
}

.play-button img {
  cursor: pointer;
  filter: invert(60%);
  padding: 0px 5px;
  transform: translateY(20%);
}

.play-button:focus {
  outline: 0 !important;
}

.foot-arrow {
  padding: 0px 10px;
}

.foot-arrow img {
  padding: 0px 10px;
  transform: translateY(50%);
}

.lines img {
  padding: 0px 5px;
  transform: translateY(40%);
}

.first-line,
.third-line {
  filter: invert(50%);
}

.add-cart {
  background: #282c34;
  color: #ddd;
  font-size: 10px;
  padding: 10px 20px;
  text-transform: uppercase;
}

.heart {
  height: 20px;
  transform: translateY(40%);
  width: 20px;
  margin: 0 25px;
}

/* Foot */
.last-foot {
  background: #282c34;
  border: 8px solid blue;
  color: #f5f5f5;
  display: grid;
  grid-template-columns: 2fr 200px 200px 200px 50px;
  grid-template-areas:
    "title cat som fea ."
    "soc cat som fea ."
    "cop cat som fea ."
    ". . . . to";
  padding: 30px 0 30px 20px;
}

.section-title {
  grid-area: title;
}

.social-media {
  grid-area: soc;
}

.first-list {
  grid-area: cat;
}

.second-list {
  grid-area: som;
}

.third-list {
  grid-area: fea;
}

.top {
  grid-area: to;
}

.copyright-text {
  grid-area: cop;
}

.sub-title {
  color: darkgrey;
  text-transform: uppercase;
}

.sub-title a {
  color: darkgrey;
  cursor: pointer;
  text-decoration: none;
}

.social-media,
.copyright-text {
  padding-top: 40px;
}

.lists p {
  padding-bottom: 20px;
}

.lists a {
  color: white;
  display: flex;
  padding-top: 10px;
  text-decoration: none;
  text-transform: capitalize;
}

.lists a:hover {
  color: gray;
}

.last-foot li {
  list-style: none;
}

/* Social media links */
a.social {
  color: gray;
  display: inline-block;
  margin: 0 5px;
  transition: transform 250ms;
}

a.social:hover {
  color: lightblue;
  transform: translateY(-4px);
}

/* Team-14 styles end here */
