body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Team-14-css styling starts here */

/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Main page */
.main-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "top-section"
    "first-middle-section"
    "second-middle-section"
    "footer";
  height: 100vh;
}

.top-kalli {
  grid-area: top-section;
}

.first-middle-black {
  grid-area: first-middle-section;
}

.second-middle-style {
  grid-area: second-middle-section;
}

.last-foot {
  grid-area: footer;
}

.top-kalli,
.first-middle-black,
.second-middle-style {
  border: 2px solid blue;
}

/* Top */
.top-kalli {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "lb cb rb"
    "lb cb rb"
    "lb cb rb"
    "fb fb fb";
}

.left-banner {
  grid-area: lb;
}

.center-banner {
  grid-area: cb;
}

.right-banner {
  grid-area: rb;
}

.foot-banner {
  grid-area: fb;
}

/* Foot */
.last-foot {
  background: #282c34;
  border: 8px solid blue;
  color: white;
  display: grid;
  /* grid-gap: 10px; */
  grid-template-columns: 2fr 200px 200px 200px 50px;
  grid-template-areas:
    "title cat som fea ."
    "soc cat som fea ."
    "cop cat som fea ."
    ". . . . to";
  padding: 30px 0 0 20px;
}

.section-title {
  grid-area: title;
}

.social-media {
  grid-area: soc;
}

.first-list {
  grid-area: cat;
}

.second-list {
  grid-area: som;
}

.third-list {
  grid-area: fea;
}

.top {
  grid-area: to;
}

.copyright-text {
  grid-area: cop;
}

.sub-title {
  color: darkgrey;
  text-transform: uppercase;
}

.sub-title a {
  color: darkgrey;
  cursor: pointer;
  text-decoration: none;
}

.lists p {
  padding-bottom: 20px;
}

.lists a {
  color: white;
  display: flex;
  padding-top: 10px;
  text-decoration: none;
  text-transform: capitalize;
}

.lists a:hover {
  color: gray;
}

.last-foot li {
  list-style: none;
}

/* Social media links */
.social-media-links {
  /* padding: 0 5px; */
}

a.social {
  color: gray;
  display: inline-block;
  margin: 0 5px;
  transition: transform 250ms;
}

a.social:hover {
  color: lightblue;
  transform: translateY(-4px);
}

/* Team-14 styles end here */
